<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <link rel="icon" href="https://drive.google.com/uc?export=download&id=1edu1ZtUJD3NkeUCUa-jsEt1igkqM9HYz"
        type="image/gif" sizes="16x16">
    <title>404 Error</title>
    <style>
        html {
            font-size: 62.5%;
        }

        body {
            background-color: rgb(250, 250, 250);
            margin: 0%;
            padding: 0%;
        }

        .div1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 8rem;
        }

        .div2 {
            display: flex;
            flex-direction: row;
            justify-content: center;

        }

        .err1 {
            font-size: 8rem;
            font-family: "Archivo Black", sans-serif;



        }

        .err1 h1 {
            margin: 0%;
            background: -webkit-linear-gradient(#eee, #3f8bf1);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .message1 {
            font-family: 'Staatliches', cursive;
            letter-spacing: 0.2rem;
            color: #535765;
            font-size: 2rem;
        }

        .op40 h1 {
            position: relative;
            animation: mova1 1s infinite;
        }

        @keyframes mova1 {
            from {
                left: -1rem;
            }

            to {
                left: auto;
            }
        }

        .op41 h1 {
            position: relative;
            animation: mova11 0.5s infinite;
        }

        @keyframes mova11 {
            from {
                left: -1rem;
            }

            to {
                left: auto;
            }
        }

        .op42 h1 {
            position: relative;
            animation: mova111 0.8s infinite;
        }

        @keyframes mova111 {
            from {
                left: -1rem;
            }

            to {
                left: auto;
            }
        }


        @media only screen and (max-width: 500px) {
            .err1 {
                font-size: 6rem;
            }

            .message1 {
                letter-spacing: 0.2rem;
                font-size: 1.3rem;
            }
        }
    </style>
</head>

<body>
    <div class="main_op">
        <div class="div1">
            <div class="div2">
                <div class="op40 err1">
                    <h1>4</h1>
                </div>
                <div class="op41 err1">
                    <h1>0</h1>
                </div>
                <div class="op42 err1">
                    <h1>4</h1>
                </div>
            </div>
            <div class="message1">
                <h1>Something Went Wrong</h1>
            </div>
        </div>
    </div>
</body>

</html>